@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');
body {
    background-color: rgb(7, 4, 4);
    color: white;
    font-family: 'Spartan', sans-serif;
}

* {
    box-sizing: border-box
}

a {
    color: aliceblue;
    text-decoration: none;
}

.banner {
    margin-top: 100px;
    margin-left: 0px !important;
    width: 1000px;
}

nav {
    position: fixed;
    top: 7%;
    display: grid;
    width: 67vw;
    grid-template-columns: 1fr 2fr;
    margin-left: 50px;
    z-index: 100000;
}

nav i {
    color: white;
    margin-left: 10px;
    font-size: 20px !important;
}

nav ul {
    list-style: none;
    margin-left: 140px;
}

nav li {
    display: inline;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
}

.mainWrapper {
    width: 98vw;
    height: 98vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: beige; */
}

#webview {
    width: 67vw;
    overflow: hidden;
}

.sldWrap {
    width: 70%;
    margin-left: 120px;
    margin-top: 200px;
}

.wideContainer {
    width: 500%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: nowrap;
    transform: translateX(0%);
    transition: transform ease 500ms 100ms;
}

.containers {
    width: 67vw;
    height: 100%;
}

.grd {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grd img {
    width: 100%;
}

.svg {
    margin-left: 70px;
}

.svg h1 {
    font-family: 'Jost', sans-serif;
    font-size: medium;
    margin-left: 75px;
    margin-bottom: -5px;
}

.svg ul {
    margin-left: 0px;
    padding: 0px;
}

.svg svg {
    margin-top: 25px;
}

.svg li {
    list-style: none;
    display: inline-block;
    margin-left: 0px;
    padding: 5px 10px;
    margin-left: 7px;
    margin-top: 8px;
    font-size: 10px;
    font-weight: bolder
}

.txt {
    width: 95%;
    margin-top: 50px;
}

.txt p {
    font-size: 14px;
    line-height: 25px;
    color: antiquewhite;
}

.violet {
    background-color: rgb(137, 43, 226);
}
.violet-txt{
    color: rgb(137, 43, 226);
}

.orange {
    background-color: rgb(240, 167, 10);
    color: rgb(2, 1, 1);
}

.green {
    background-color: rgb(44, 221, 21);
    color: rgb(2, 1, 1);
}

.wine {
    background-color: rgb(87, 6, 19);
}

.wine-txt {
    color: rgb(87, 6, 19);
}

.black {
    background-color: rgb(9 8 13);
}

.pink {
    background-color: rgb(255, 192, 203);
}

.blue {
    background-color: rgb(3, 49, 109);
}

.dkgreen {
    background-color: rgb(2, 73, 12);
}

.cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    background-color: rgba(46, 40, 37, 0.233);
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px !important;
    /* text-align: center; */
}

.card img {
    width: 100%;
}

.mn {
    background-color: rgb(0, 0, 0);
}

#showcaseview {
    width: 97%;
    margin-left: 15px;
    padding: 10px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.banner h1 {
    font-size: 60px;
}

.banner ul {
    margin: 0px;
    padding: 0px;
    margin-top: -40px;
}

.banner li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.banner {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.flxbox {
    margin: 0px !important;
    display: flex;
}

.flxbox input {
    margin-left: auto;
    padding: 10px 15px;
    margin-top: -100px;
    height: 40px;
}

.active {
    color: yellow;
    border-bottom: 1px solid rgb(235, 182, 9);
    padding-bottom: 10px;
}

canvas {
    background-color: aliceblue;
}

.hide {
    display: none;
}

.show {
    display: block !important;
}

#showcaseview span {
    padding: 10px 5px;
    color: white;
    font-size: 30px !important;
}

#showcaseview {
    margin-top: 60px;
}

.showcase {
    /* margin-top: 30px; */
    transition: height 300ms ease-in-out;
}

.prjwrp {
    width: 90%;
    margin: auto;
    font-size: 10px;
}

.prjwrp h3 {
    font-size: 20px;
 
}


.showcase h2 {
    cursor: pointer;
    padding: 10px 8px;
}

.prjwrp p {
    font-size: 12px;
    line-height: 20px;
    margin-top: -15px;
}

hr {
    margin-top: 50px;
    color: antiquewhite;
}

.img{
    width: 100%;
    height: 320px;
    overflow: hidden;
}

/* 
    .game,
    .video {
        height: 0px;
    } */